@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins&display=swap');

@import "tailwindcss";


@theme {
    --font-google-sans: "Google Sans", sans-serif;

    --breakpoint-xxl: 1480px;
}

@layer base {
    * {
        @apply m-0 p-0 box-border font-google-sans;
    }

    html {
        @apply scroll-smooth;
    }

    header {
        @apply w-full h-14 fixed top-0 left-0 shadow-sm flex items-center bg-white z-90;
    }

    nav {
        @apply w-full max-w-7xl p-4 mx-auto flex justify-between items-center;
    }

    main {
        @apply w-full;
    }

    section,
    footer {
        @apply w-full py-20;
    }

    img {
        @apply w-full h-auto object-cover;
    }

}

@layer utilities {
    .container {
        @apply w-full max-w-7xl p-4 mx-auto;
    }

    .social_link {
        @apply text-3xl text-gray-500 transition-colors hover:text-gray-700 duration-200;
    }

    .modal_col{
        @apply w-full h-fit grid gap-y-3;
    }

    .views, .downloads, .likes{
        @apply flex flex-col gap-1;
    } 

}

/* =============================== CUSTOM CSS FOR SECTION TITLE TO MAKE A TYPE WRITER EFFECT ====================================== */
.section_title {
    font-size: 30px;
    font-weight: 600;
    position: relative;
    z-index: -10;
    width: fit-content;
}

.section_title::before {
    content: '|';
    position: absolute;
    right: 0;
    background-color: white;
    animation: type 5s steps(19) infinite,
    blink 1s infinite ;
}

@keyframes type {
    0% {
        width: 100%;
    }
    30% {
        width: 0%;
    } 100%{
        width: 0%;
    }
}

@keyframes blink {
    50% {
        color: transparent;
    }
}