@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins&display=swap');

@import "tailwindcss";


@theme {
    --font-google-sans: "Google Sans", sans-serif;

    --breakpoint-xxl: 1480px;
}

@layer base {
    /* =============================== BASE CLASSES ============================== */
    * {
        @apply m-0 p-0 box-border font-google-sans;
    }

    html, #image_modal {
        @apply scroll-smooth;
    }

    header {
        @apply w-full h-14 fixed top-0 left-0 shadow-sm flex items-center bg-white z-90;
    }

    nav {
        @apply w-full max-w-7xl p-4 mx-auto flex justify-end items-center gap-4 sm:gap-8;
    }

    main {
        @apply w-full relative;
    }

    section,
    footer {
        @apply w-full py-20;
    }

    img {
        @apply w-full h-auto object-cover;
    }

}

@layer utilities {
    /* =================================== REUSABLE CLASSES ======================================== */
    .container {
        @apply w-full max-w-7xl p-4 mx-auto;
    }

    .social_link {
        @apply text-3xl text-gray-400 transition-colors hover:text-gray-700 duration-200;
    }

    /* =================================== REUSABLE CLASSES FOR IMAGE MODAL POPUP ======================================== */

    .modal_col{
        @apply w-full h-fit ;
    }

    .views, .downloads, .likes{
        @apply flex flex-col gap-1;
    } 

     /* =================================== REUSABLE CLASSES FOR FOOTER MODAL POPUP ======================================== */

    nav .logo {
        @apply mr-auto;
    }

    nav .footer_toggle{
        @apply text-xl font-semibold px-1 rounded shadow-md border border-gray-100;
    }

    #footer_Modal{
        @apply p-0 w-[95%] max-w-[1350px] h-fit my-4 rounded-xl bg-white mx-auto absolute top-11 left-0 right-0 z-100 border-2 border-gray-400 focus:border-none focus:outline-none focus:ring-0;
    }

     /* =================================== REUSABLE CLASSES FOR PROFILE MODAL POPUP ======================================== */

    #profile_Modal{
        @apply p-0 w-full sm:w-[70%] max-w-[1350px] h-fit my-4 rounded-xl mx-auto absolute top-11 left-0 right-0 z-100 focus:border-none focus:outline-none focus:ring-0 bg-transparent scrollbar-none;
    }

    .profile_container{
        @apply w-[300px] md:w-[400px] m-2 rounded-2xl bg-white border-2 border-gray-400 shadow-sm transition-shadow duration-200 hover:shadow-md mx-auto sm:ml-auto sm:mr-0;
    }

    .profile_close{
        @apply focus:border-none focus:outline-none focus:ring-0;
    }

    #input_photo, #input_bio, #input_userName{
        @apply block w-full p-2 rounded border-2 border-gray-300;
    }

    #footer_Modal::backdrop, #profile_Modal::backdrop{
        @apply bg-[rgb(0,0,0,0.3)];
    }

}

/* =============================== CUSTOM CSS FOR SECTION TITLE TO MAKE A TYPE WRITER EFFECT ====================================== */
.section_title {
    font-size: 30px;
    font-weight: 600;
    position: relative;
    z-index: -10;
    width: fit-content;
}

.section_title::before {
    content: '|';
    position: absolute;
    right: 0;
    background-color: white;
    animation: type 5s steps(19) infinite,
    blink 1s infinite ;
}

@keyframes type {
    0% {
        width: 100%;
    }
    30% {
        width: 0%;
    } 100%{
        width: 0%;
    }
}

@keyframes blink {
    50% {
        color: transparent;
    }
}